 /* RESPONSIVE */

 @media(max-width:768px){
    header{
        display: flex;
        flex-direction: column;
      
    }

    header nav {
      justify-content: center;
      margin-left: 3rem;
    }

    aside {
      display: none;
    }

    .container_cards{
      justify-content: space-evenly;
    }

    .opciones-ayuda{
      display: flex;
      flex-direction: column;
    }
    .opcion{
      width: 100%;
    }

    .galeria-adopcion, .miembros-equipo{
      display: flex;
      flex-direction: column;
    }

    .animal, .miembro{
      width: 100%;
    }

    .mision-vision{
      flex-direction: column;
    }

    .mision, .vision{
      width: 100%;
    }

    .mapa-contacto {
      display:flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 2rem;
    }

  }

@media (max-width:512px){
  .navHeader {
    display: none;
  }
 .navMobile {
  display: block;
  width: 100%;
}

.container-adopciones{
  width: 100%;
}

main {
  width: 100%;
  margin: 0;
  padding: 0;
}

article {
  width: 35rem;
  height: 45rem;
}

article:hover{

  width: 35rem;
  height: 46rem;
padding-top: 2.3rem;
  box-shadow: -10px 12px 10px -10px rgb(129, 113, 86);
}

}
