/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAF6E3;
  }
  
  h1, h2 {
    color: #2A3663;
  }
  
  /* #donation-options, #donation-cart {
    width: 300px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #b59f78;
    border-radius: 5px;
    background-color: #FFF;
  } */
  
  /* .donation-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  } */
  
  button {
    background-color: #2A3663;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #D8DBBD;
    color: #000;
  }
  
  #donation-cart ul {
    list-style: none;
    padding: 0;
  }
  